html {
    scroll-behavior: smooth;
}

/* styles.css */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Change this */
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

section {
    width: 80%;
    margin: 2rem auto;
    padding: 80px 0; /* Increased the padding */
    min-height: 100vh; /* New rule to make the section take at least the height of the viewport */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.section-padding {
    padding-top: 80px; /* The height of your navbar plus some extra space */
    margin-top: -80px;
}

h2 {
    color: #333;
    margin-bottom: 1rem;
}

p {
    color: #666;
    line-height: 1.6;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #ddd;
}

#about {
    background-color: #f9f9f9;
}

#projects {
    /* The background-color rule is not necessary here as it's already defined in the 'section' rule */
}

#resume {
    background-color: #f9f9f9;
}
