html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Added padding */
}

#navbar {
    position: sticky; /* Changed from fixed to sticky */
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
}

/* Other CSS rules remain the same */

.hero {
    background: url('https://drive.google.com/file/d/1cV7WjrvvDJJoTUEskjIjTgsx4HDkdEd4/view?usp=drive_link') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
}

.hero::after { /* Added pseudo-element for overlay */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Added margin */
}

.social-links a:hover {
    color: #007bff;
    transition: color 0.3s ease; /* Added transition */
}
